@import '../../Styles/Config.module.scss';

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  overflow: auto;

  &__selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    width: 100px;
    overflow: hidden;
  }
}

.btn {
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background: $red;
}

.blue {
  background: $blue;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  cursor: pointer;
  margin-bottom: 1rem;
}

.checkbox {
  cursor: pointer;
}