@import '../../Styles/Config.module.scss';

.button {

  &__spy {
    background: $red;
    margin-right: 1rem;
  }

  &__spy:hover ~ .caption_spy {
    display: block;
  }

  &__switch {
    background: $blue;
    margin-right: 1rem;
  }

  &__switch:hover ~ .caption_switch {
    display: block;
  }

  &__confirm {
    background: $green;
  }

  &__confirm:hover ~ .caption_confirm {
    display: block;
  }
}

.caption_spy {
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  margin-top: 1rem;
}

.caption_switch {
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  margin-top: 1rem;
}

.caption_confirm {
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  margin-top: 1rem;
}
