@import '../../Styles/Config.module.scss';

.layout {
  align-items: center;
  background-image: url('../../images/bg.png');
  background-color: $dark-grey;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    text-align: center;
    font-size: 6rem;
    color: $white;
    font-family: 'Rajdhani', sans-serif;
  }

  &__footer {
    color: rgba($white, 0.5);
    position: absolute;
    bottom: 1rem;
    text-align: center;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
  }
}
