@import './Config.module.scss';

.btn {
  margin-bottom: 1rem;
}

.modal {
  overflow: auto;
}

.modal_header {
  color: $black;
  text-align: center;
}

.modal_text {
  color: $black;
  margin: 2rem;
  font-size: 1.5rem;
}

.modal_button {
  background: $green;
}

.gameRules {
  width: 250px;
  height: 50px;
}

.bold {
  font-weight: 500;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}
